{% from "helpers/header.html" import header %}
{% from "helpers/tick.html" import tick, custom_tick %}
{% from "helpers/pagination.html" import render_pagination %}
{% from "helpers/vehicle_type.html" import vehicle_type_dictionary %}

<!DOCTYPE html>
<html data-theme="dark">
  <head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Tra cứu phạt nguội" property="og:title">
    <meta content="Cổng tra cứu phạt nguội tự động" property="og:description">
    <meta content="https://phatnguoi.tunaa.io.vn/" property="og:url">
    <meta content="https://i.namu.wiki/i/4CrxZLtJKTSjx-RRkEG0KsBQhNtYrFyWCBcyx1A3WoMLNzcZVJ90L0x9vp0SGSCQaN0QGxNikg0sbLWkdrNsaQ.webp" property="og:image">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="#4258ff" data-react-helmet="true" name="theme-color">
    {% endblock %}

    <title>{% block title %}{% endblock %} - PhatNguoiAPI</title>
    
    {% block head_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/style.css') }}">
    {% endblock %}
    
    {% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{ url_for('main.static', filename='img/favicons/favicon.ico') }}">
    {% endblock %}

    {% block additional_styles %}{% endblock %}
  </head>

  <body class="has-navbar-fixed-top">
    {% block navbar %}
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item py-0 " href="{{ url_for('main.homepage') }}">
          <img src="{{ url_for('main.static', filename='img/phatnguoi_api-logo.png') }}" alt="phatnguoi_api-logo">
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="tomchienxu-navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="tomchienxu-navbar" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('main.homepage') }}">
            Trang chủ
          </a>    
          <a class="navbar-item">
            Tra cứu
          </a>    
          <a class="navbar-item">
            Cách hoạt động
          </a>
          <a class="navbar-item" href="{{ url_for('api.phatnguoi', bien_so_xe='30K13784', loai_xe=1) }}">
            API
          </a>
          <a class="navbar-item" href="https://github.com/dookkii/PhatNguoi">
            Mã nguồn
            <span>
              <sup>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </sup>
            </span>
          </a>
          <a class="navbar-item" href="https://github.com/dookkii">
            Github
            <span>
              <sup>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </sup>
            </span>
          </a>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if current_user.is_authenticated %}
              <div class="dropdown is-hoverable is-right">
                <div class="dropdown-trigger">
                  <a class="button is-light" href="{{ url_for('profile.my_profile') }}" aria-haspopup="true" aria-controls="navbar-dropdown-menu">
                    <span class="icon avatar mr-1">
                      {% if current_user.avatar_url %}
                      <figure class="image">
                        <img src="{{ current_user.avatar_url }}" alt="avatar">
                      </figure>
                      {% else %}
                      <i class="fa-solid fa-user"></i>
                      {% endif %}
                    </span>
                    <span>{{ current_user.name }}</span>
                  </a>
                  <div class="dropdown-menu" id="navbar-dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      <a class="dropdown-item" href="{{ url_for('profile.my_profile') }}">Profile của tôi</a>
                      <a class="dropdown-item" href="{{ url_for('profile.my_number_plate') }}">Biển số của tôi</a>
                      <a class="dropdown-item" href="#">Tạo mật khẩu</a>
                    </div>
                  </div>
                </div>
              </div>
              <a class="button is-dark" href="{{ url_for('authentication.logout') }}">
                Đăng xuất
              </a>
              {% else %}
              <a class="button is-link" href="{{ url_for('authentication.oauth2_google.oauth2_google_login') }}">
                Đăng ký
              </a>
              <a class="button is-light" href="{{ url_for('authentication.oauth2_google.oauth2_google_login') }}">
                Đăng nhập
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% endblock %}
  
    <section class="section">
      <div class="container">
        {% block body %}{% endblock %}
      </div>
    </section>

    {% block footer %}
    <footer class="footer py-5">
      <div class="content">
        <div class="is-flex-desktop is-justify-content-space-between is-align-items-center">
          <div class="has-text-centered-touch">
            <span>
              March, 2025 // Developed by <a class="is-underlined" href="https://github.com/dookkii"><b>dookkii</b></a> with 💖. {% if USE_RECAPTCHA %}Proudly protected by <b>reCAPTCHA v2</b> & <b>Google</b>.{% endif %}
              <br>
              Whipped this up out of sheer boredom and existential dread.
            </span>
          </div>
          
          <div class="has-text-right-desktop has-text-centered-touch">
            <div class="mt-2 is-hidden-desktop"></div>

            <span class="icon-text">
              <span><a href="https://github.com/dookkii">Github</a></span>
              <span class="icon">
                <i class="fa-brands fa-github"></i>
              </span>
            </span>

            <br class="is-hidden-touch">
            
            <span class="icon-text">
              <span><a href="https://facebook.com/fumiko.tunaa">Facebook</a></span>
              <span class="icon">
                <i class="fa-brands fa-facebook"></i>
              </span>
            </span>
          </div>
        </div>
      </div>
    </footer>
    {% endblock %}
  
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    {% block additional_scripts %}{% endblock %}
  </body>
</html>